{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel" style="padding-top:0;height:620px;">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        {{ if eq .weight 1 }}
                        <div class="col-sm-12" style="padding-top: 15%">
                            <p style="font-size: 5rem;">{{ .title }}</p>
                            {{ .description | safeHTML }}
                        </div>
                        {{ else if eq .weight 2 }}
                        <div class="col-sm-12">
                            <img class="img-responsive" src="{{ .image }}" alt="" style="display: block; margin: 0 auto;max-width:100%; max-height:100%;vertical-align:middle;width:auto;height:550px;">
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
