{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel carousel-height" style="padding-top:0;">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        {{ if eq .weight 1 }}
                        <div class="col-sm-12" style="padding-top: 15%">
                            <p class="carousel-title">{{ .title }}</p>
                            {{ .description | safeHTML }}
                        </div>
                        {{ else if eq .weight 2 }}
                        <div class="col-sm-12">
                            <!--<img class="img-responsive" src="{{ .image }}" alt="" class="carousel-img">-->
                            <img class="carousel-img" src="{{ .image }}" alt="">
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
