{{ if isset .Site.Params "solution_loadmap" }}
{{ if .Site.Params.solution_loadmap.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.solution_loadmap.title | markdownify }}</h2>
            </div>

            <p class="lead">
                {{ .Site.Params.solution_loadmap.subtitle | markdownify }}
            </p>

            <div class="item">
                <div class="row">
                    <div class="col-sm-5">
                        <br>
                        <ul>
                            <li style="font-family: 'Roboto', Helvetica, Arial, sans-serif;font-size: 1.8rem"><b>The first
                                half of 2020 :</b>
                                <ol>Cloud Accelerated MEC Platform Testbed</ol>
                            </li>
                            <li style="font-size: 1.8rem"><b>The second half of 2020 :</b>
                                <ol>Enterprise Private 5G Testbed</ol>
                            </li>
                            <li style="font-size: 1.8rem"><b>The first half of 2021 :</b>
                                <ol>AI service provider</ol>
                            </li>
                            <li style="font-size: 1.8rem"><b>The second half of 2022 :</b>
                                <ol>Extended Federation Service</ol>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-7 right">
                        <img class="img-responsive" src="img/solution_loadmap_en.png" alt="">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
