{{ if isset .Site.Params "solution_loadmap" }}
{{ if .Site.Params.solution_loadmap.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <!--<h2>{{ .Site.Params.solution_loadmap.title | markdownify }}</h2>-->
                <p class="main-title-sub"><span>{{ .Site.Params.solution_loadmap.title | markdownify }}</span></p>
            </div>

            <p class="lead">
                {{ .Site.Params.solution_loadmap.subtitle | markdownify }}
            </p>

            <div class="item">
                <div class="row">
                    <div class="col-sm-12 center-block">
                        <img class="img-responsive" src="img/solution_loadmap_en.png" alt="" style="padding:0 10% 0 10%;">
                    </div>
                    <div class="col-sm-12 center-block">
                        <!--<ul>
                            <li style="font-size: 3rem"><b>The first
                                half of 2020 :</b>
                                <ol>Cloud Accelerated MEC Platform Testbed</ol>
                            </li>
                            <li style="font-size: 3rem"><b>The second half of 2020 :</b>
                                <ol>Enterprise Private 5G Testbed</ol>
                            </li>
                            <li style="font-size: 3rem"><b>The first half of 2021 :</b>
                                <ol>AI service provider</ol>
                            </li>
                            <li style="font-size: 3rem"><b>The second half of 2022 :</b>
                                <ol>Extended Federation Service</ol>
                            </li>
                        </ul>-->
                        <ul style="padding-left:16%;">
                            <li class="main-text-dec"><b>The first
                                half of 2020 :</b>
                                <strong>Cloud Accelerated MEC Platform Testbed</strong>
                            </li>
                            <li class="main-text-dec"><b>The second half of 2020 :</b>
                                <strong>Enterprise Private 5G Testbed</strong>
                            </li>
                            <li class="main-text-dec"><b>The first half of 2021 :</b>
                                <strong>AI service provider</strong>
                            </li>
                            <li class="main-text-dec"><b>The second half of 2022 :</b>
                                <strong>Extended Federation Service</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
